@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container{
    width:700px;
    margin:3em auto;
    padding:1em;
    box-sizing:border-box;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 5px #ddd;
}
header h1{
    font-family: 'Abril Fatface';
    margin:0;
    text-align:center;
    font-size:2.5em;
}

h2{
    font-size: 3em;
}

.laptop-pic{
    width: 100%;
    
}

body{
    font-family: 'Source Sans Pro';
    background: #eee;
    font-weight: 200;
}

title{
    font-family: 'Roboto Slab';
}

nav{

    padding: 5px 0;
    text-align: center;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin:1em 0;
    position:sticky;
    top:-1px;
    background-color: white;
}
nav ul{
    list-style:none;
    margin:0;
}

nav li{
    display:inline-block;
    padding-right: 2em;
    font-size:1.2em;
}

nav a{
    text-decoration: none;
    color:#777;
    margin-right:10px;
}
main h2{
    font-family: 'Roboto Slab';
    margin-bottom: 0;
}
main h5{
    font-family: 'Abril Fatface';
    color: #dd3232;
    margin-top: 0.5em;
}

p{
    font-size: 0.9em;
    text-align: justify;
    padding:0 10px;
}

.more-articles{
    border-top:1px solid #eee;
    margin-top: 1.5em;
    text-align: center;
}
.more-articles section{
    display:inline-block;
    width:44%;
    margin: 0 1em;
}
.more-articles img{
    width: 100%;
}
.more-articles h4{
    font-family: 'Roboto Slab';
    text-align:left ;
}

